
.header-custom {
  position: relative;
  background: url('./../images/header-custom.jpeg') center/cover no-repeat; /* ganti dengan gambar tapoi */
}

.header-custom::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(220, 53, 69, 0.7); /* overlay transparan warna merah (bg-danger) */
}

.header-custom h1,
.header-custom p {
  position: relative; /* supaya teks tetap di atas overlay */
  z-index: 1;
}
